/* general */
body {
    background-color: rgb(60, 68, 84);
    color: rgb(236, 239, 243);
    font-family: "PT Sans", sans-serif;
}
button {
    background-color: rgb(136, 158, 180);
    color: rgb(236, 239, 243);
    border-radius: 10px;
}
h1, h2 {
    margin-bottom: 20px;
}

/* Home Page */
input {
    background-color: rgb(136, 158, 180);
    color: rgb(236, 239, 243);
    margin: 0 0 15px 10px;
}
#submitButton {
    margin-top: 10px;
}
#search {
    border: 1px solid rgb(236, 239, 243);
    padding: 2rem;
    margin-bottom: 1rem;
    border-radius: 10px;
}

/* Results Page */
#back {
    position: fixed;
    top: 15px;
    left: 15px;
    color: rgb(198, 50, 34);
}

/* my new navbar :D */
nav {
    background-color: rgb(136, 158, 180);
    border-radius: 10px;
    padding: 3%;
    margin-bottom: 10%;

    a {
        color: white;
        margin: auto 30px;
    }
    a:visited {
        color: rgb(16, 73, 186)
    }
}
